* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #242424;
  font-family: IBM;
}

/* ===== CUSTOM FONTS ====== */
@font-face {
  font-family: IBM;
  src: url("../public/fonts/IBMPlexSansArabic-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: IBM;
  src: url("../public/fonts/IBMPlexSansArabic-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: IBM;
  src: url("../public/fonts/IBMPlexSansArabic-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: IBM;
  src: url("../public/fonts/IBMPlexSansArabic-Light.ttf");
  font-weight: 200;
}
